<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body style="display: flex; left: 200px;">
    <form method="get" action="/logout" style="padding: 200 px;">
        
        <button style="align-items: center; justify-content: center; padding: 5px; width: 200px;">logout</button>
    </form>
</body>
</html>